.btn-a{
    background-color: #46139f!important; /* Green */
    border: none!important;
    color: white!important;
    padding: 5px 10px!important;
    text-align: center!important;
    text-decoration: none!important;
    font-size: 12px!important;
    /* margin: 4px 2px!important; */
    cursor: pointer!important;
}

.btn-b{
    background-color: #ff7f50!important; /* Green */
    border: none!important;
    color: white!important;
    padding: 5px 10px!important;
    text-align: center!important;
    text-decoration: none!important;
    font-size: 12px!important;
    /* margin: 4px 2px!important; */
    cursor: pointer!important;
}

